body {
    margin: 0px;
    padding: 0px;
}
main {
    padding: 16px;
}
footer {
    background-color: lightgreen;
    padding: 24px;
    margin-top: 20px;
}
img {
    height: 200px;
}
nav {
    border-bottom: 1px solid black;
    padding: 16px;
}
.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
h1 {
    color: green;
}
nav {
    background-color: orange;
    color: white;
}
h3 {
    color: lightgreen;
}
a:link, a:visited{
    text-decoration: none;
}
.main-page {
    color: white;
}
.vtacos {
    color: green;
}
.table tr:nth-child(even) {
    background-color: lightgray;
}
